<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ping Pong This</title>
    </head>
    <body>
        <h1>This is for Ping Pong</h1>
        <form id="pingpong" action="/pingpong" method="post">
            <input type="number" name="pingpong" placeholder="Enter a number...">
            <button type="submit" name="pingpont-input">Ping Pong!</button>

        </form>
    </body>
</html>
